
ul#ichigo-forms-list li:nth-of-type(1) span:hover{
    background-color: crimson;
}

ul#ichigo-forms-list li:nth-of-type(1) span:active{
    font-weight: bolder;
}

ul#ichigo-forms-list li:nth-of-type(2) span:hover{
    background-color: blueviolet;
}

ul#ichigo-forms-list li:nth-of-type(3) span:hover{
    background-color: deeppink;
}